// scroll Style
*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-thumb {
	background: rgba(23, 162, 184, .4);
	border-radius: 4px;
	min-height: 40px;
}

*::-webkit-scrollbar-thumb:hover {
	background: rgba(23, 162, 184, 1);
}

.block-hover {
	position: relative;
	&:hover::before {
		content: '';
		position: absolute;
		opacity: .1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgb(0, 0, 0) !important;
		pointer-events: none;
	}
}

.active-item {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #caeaf1;
		pointer-events: none;
	}
}

.item-btn-slot{
	width: 75px;
}

.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}

.text--secondary {
	opacity: .6;
}

.text-subtitle {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.75rem;
	letter-spacing: .009375em;
}

.text-body {
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: .03125em;
}

.item-wrapper {
	padding: 6px 0;
	align-items: center;
	border-bottom: 1px solid #dadada;
}

.item-wrapper-active {
	cursor: pointer;
}

.trash-icon-hover:hover {
	background-color: transparent;
	color: var(--danger);
	border-color: var(--danger);
}
